* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Tagesschrift', system-ui;
}

.home,
.about,
.profile,
.story,
.projects {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about {
  background-image: url('./images/img-01.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.profile {
  
}

.story {
  background-image: url('./images/img-01.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.projects {
  background-image: url('./images/img-01.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
